.more-photo {
  color: $text;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  padding-right: 80px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
  font-size: 14px;
  &:hover {
    color: $link-hover;
  }
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    right: 10px;
    bottom: 3px;
  }
  .arrow {
    position: absolute;
    right: 0;
    bottom: 3px;
    border-top: 3px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 3px solid currentColor;
    border-left: 15px solid currentColor;
  }
}
