.menuicon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 101;
  &:hover {
    cursor: pointer;
    &::before,
    &::after {
      background-color: $link-hover;
    }
  }
  &::before,
  &::after {
    display: block;
    position: absolute;
    transition: 0.2s;
    background-color: $text;
    height: 2px;
  }
  &::before {
    content: '';
    top: 12px;
    right: 0;
    width: 90%;
  }
  &::after {
    content: '';
    top: 25px;
    right: 0;
    width: 65%;
  }
  .menu-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}
