.triangle {
  border-top: 18px solid transparent;
  border-right: 18px solid #fff;
  border-bottom: 18px solid #fff;
  border-left: 18px solid transparent;
  opacity: 0.8;
  span {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}
