.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.gallery-layout {
  display: grid;
  margin: 120px 0 0;
  grid-template-columns: repeat(1, 1fr);
  gap: 100px;
  width: 90%;

  @include mq-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  figure {
    position: relative;
    margin: 0;

    &:hover {
      figcaption {
        bottom: -18px;
        opacity: 1;
      }
    }
  }

  figcaption {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $text;
    transition: 0.2s;
    opacity: 0;
  }
  img {
    width: 100%;
    transition: 0.2s;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
    &.is-zooming {
      filter: grayscale(0%);
    }
  }
}
