@import './base/reset';
@import './base/font';
@import './atoms/cursor';
@import './atoms/triangle';
@import './molecules/logo';
@import './molecules/slidetime';

body {
  background-color: #000;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slidewrap {
  position: relative;
}

.frame {
  width: calc(100vw - 180px);
  height: calc((100vw - 180px) * 0.5625);
  max-width: 1200px;
  max-height: calc(1200px * 0.5625);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 1s ease;
    opacity: 0;
    &.show {
      opacity: 1;
      z-index: 10;
    }
  }
}
